# Ignore Vim plugins files
# (already hosted on GitHub, managed with vim-plug)
plugged/

# Ignore swap files when staging from Vim
*.swp

# Ignore netrwhist history
.netrwhist

# Ignore add.spl files
*.add.spl
